/* /////  QUESTIONS  ////// */
/*
--  MainImage ; fade in / out 
--  Twitter/ facebook ; would like to make color white before clicking..
--- how to make dropdown menu on nav
*/



/* ------------------------------- 
------------ SET UP --------------
-----------------------------------*/
* {
  box-sizing: border-box; 
}

/* ------------------------------- 
------------ BASE STYLE --------------
-----------------------------------*/

a {
  text-decoration: none;
}

#container {
	font-family: 'Roboto', sans-serif;
	font-family: 'Lora', serif;
	font-family: 'Source Sans Pro', sans-serif;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Ubuntu', sans-serif;
}

.backgroundcolor {
	background-color: #2B2C30;
}

.backgroundcolor2 {
	background-color: #EDEDED
}

.backgroundcolor3 {
	background-color: #6F6F6F;
}

.backgroundcolor4 {
	background-color: #3C3C3C;
}

/* ------------------------------- 
------------ LAYOUT --------------
-----------------------------------*/

body {
	height: 100%;
	width: 100%;
}

/*#container {
	width: 90%;
	margin: 0 auto;
}*/

header {
	height: 80px;
}

#mainimage {
	height: 600px;
/*	width: 100%;*/
}

 #gallery {
 	height: 100%;
 }

#features {
	height: 550px;
}

#about, #contact {
	height: 100%;
}

footer {
	height: 250px;
}



/* ------------------------------- 
------------ ADDITIONAL STYLES----
-----------------------------------*/

/* ---------  /////  HEADER ///// ---------------*/

header {
   /* position: fixed;*/
   /* top: 0px;*/
    width: 100%;
   /* z-index: 10;*/
}

#page-wrapper {
	margin: auto;
    max-width: 80%;
    position: relative;
    height: 50%;
    top: 50%;
    transform: translateY(-50%);
}

header img {
	display: inline-block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: -80%;
}

#page-wrapper nav  {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
}

#page-wrapper nav ul li {
	display: inline-block;
	margin-left: 20px;
}

#page-wrapper nav ul li a, #footer-two nav ul li a, #footer-wrapper nav ul li a {
	color: #F4F7F6;
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Ubuntu', sans-serif;
}

#page-wrapper nav ul li a:hover, #page-wrapper nav ul li a:active, #footer-two ul li a:hover, #footer-two ul li a:active, #footer-three a:hover, #footer-three a:active {
	color: #6CB670;
}


/* --------  /////   MAIN IMAGE /////------------------*/

#slide1 {
  background-image: url('../images/slide_1.jpg');
}

#slide2 {
  background-image: url('../images/slide_2.png');
}

#slide3 {
  background-image: url('../images/slide_3.png');
}

#mainimage {
	position: relative;
	white-space: nowrap;
	overflow: hidden;
}

.slide-image {
  width: 100%;
  height: 600px;
  background-position: center;
  background-size: cover;
  display: inline-block;
  text-align: center;
  overflow: hidden;
}

.slidetext1 {
	font-family: 'Roboto', sans-serif;
	font-size: 450%;
	font-weight: 700;
	color: #FFFFFF;
	position: relative;
	top: 70%;
}

.slidetext2 {
	font-family: 'Roboto', sans-serif;
	font-size: 360%;
	font-weight: 700;
	line-height: 120%;
	color: #FFFFFF;
	position: relative;
	top: 65%;
	left: 15%;
}

.slidetext3 {
	font-family: 'Roboto', sans-serif;
	font-size: 300%;
	font-weight: 700;
	color: #FFFFFF;
	position: relative;
	top: 72%;
}

/* --------  /////   MAIN IMAGE - ARROWs /////------------------*/
.arrow {
  width: 5%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

#right-arrow {
  right: 20px;
}

#left-arrow {
  left: 20px;
}

/* --------  /////   MAIN IMAGE - ARROWs ; Responsive /////------------------*/
@media (max-width: 768px) {
  .arrow {
    width: 10%;
  }
}

/* i dont know why i need this ---> */
/*@media (max-device-width: 1024px) {
  .arrow {
    width: 20%;
  }
}*/


/* ------ //////   ABOUT   //////// ----------------*/
.color-green {
	color: #6CB670;
}

.row {
	/*width: 1024px;*/
	margin: 0 auto;
}

.section-title {
	width: 100%;
	height: 100px;
}

#about {
	padding-top: 40px;
}

h2 {
	text-align: center;
	display: block;
	font-size: 200%;
	color: #FFFFFF;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	/*font-family: 'Ubuntu', sans-serif;*/

}

.border {
	border-top: 1px solid #6CB670;
    height: 1px;
    margin: 15px auto 0;
    position: relative;
    width: 25%;
}

.border:before {
    background-color: #6CB670;
    border: 1px ridge #6CB670;
    content: "";
    height: 10px;
    left: 50%;
    margin-left: -20px;
    position: absolute;
    top: -5px;
    width: 40px;
}

#about-wrapper {
	width: 80%;
	/*height: 70%;*/
	margin: 0 auto;
	padding-bottom: 60px;
}

#about-wrapper h4 {
	height: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	/*font-family: 'Ubuntu', sans-serif;*/
	line-height: 180%;
	font-size: 130%;
}



/* ------ //////  FEATURES  /////// ----------------*/
#features .row {
	padding-top: 40px;
}

#featureWrapper {
	width: 80%;
	height: 75%;
	margin: 0 auto;
	padding-bottom: 60px;
	/*font-size: 0;*/
}

.featureContents {
	width: 30%;
	height: 100%;
	border:1px solid white;
	display: inline-block;
	background-color: #DDDDDD;
}

.feature-icon {
	height: 70px;
	margin-top: 20px;
}

.text-center {
	text-align: center;
}

.feature-block {
	width: 80%;
	margin: 0 auto;
}

#featureOne, #featureTwo{
	margin-right: 5%;
	float: left;
}

#featureThree {
	float: right;
	margin-right: 0;
}

.feature-block h3 {
	/*font-weight: 600;*/
	font-weight: 500;
	font-size: 160%;
	/*font-family: 'Lora', serif;*/
	font-family: 'Ubuntu', sans-serif;
	margin: 20px auto 10px;
}

.feature-block h4 {
	font-weight: 400;
	font-size: 130%;
	font-family: 'Source Sans Pro', sans-serif;
	/*font-family: 'Ubuntu', sans-serif;*/
	line-height: 140%;
	padding-top: 5px;
} 

#featureThree h4 {
	line-height: 180%;
}


/* ------ //////  GALLERY ////// ----------------*/
#gallery {
	padding-top: 40px;
}
#gallerygreen {
	color: #6CB670;
}


#gallery-wrapper {
	width: 80%;
	margin:0 auto;
/*	height: 100%;*/
	overflow: hidden;
	padding-bottom: 60px;
	
}

.gallery-block {
	width: 50%;
	height: 100%;
	display: inline-block;
	float: left;
}


#gallery-image {
	background-color: lightblue;
}

#gallery-text {
	background-color: lightpink;
}

/*<!-- ///////
		//////////////MODAL -->*/


/* The Modal (background) */
/*#myBtn {
	width: 70%;
	height: 50%;
}*/

#btn-wrapper img {
	width: 70%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: yellow;
    margin: auto;
 /*   padding: 20px;*/
 /*   border: 1px solid #888;*/
    width: 60%;
    height: 50%;
    position: fixed;
    top: 50%;
    transform: translateY(-25%);
    left:50%;
    transform: translateX(-50%);

}

iframe {
	width: 100%;
	height: 100%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



/* ------ //////  CONTACT  //////  ----------------*/

#contact {
	background-color: #E0E0E0;
	font-family: 'Ubuntu', sans-serif;
	overflow: hidden;
	clear: both;
	padding-top: 40px;
}

#contact-wrapper {
	width: 70%;
	/*height: 100%;*/
	margin: 0 auto;
	overflow: hidden;
}

.contact-block {
	width: 50%;
	height: 100%;
	display: inline-block;
	float: left;
	padding: 0 0 60px 0px;
}

#block-left h3 {
	font-size:140%;
	font-weight: 500;
	color: black;
}

#block-left h3+h4 {
	margin-top: 10px;
}

#contact-details-wrapper {
	margin-top: 20px;
	line-height: 180%;
}



/*#block-left {
	background-color: lightblue;
}

#block-right {
	background-color: lightpink;
 
}*/


.field {
  	width:80%;
	display: block;
  	font-size:16px;
  	margin-bottom:1em;
  	padding:8px 0 8px 8px;
  	cursor: pointer;
  	font-family: 'Ubuntu', sans-serif;
  	/*background:transparent;*/
}


input[type="submit"] {
	width:50%;
	height: 150%;
  	font-size:50px;
  	background:transparent;

}

#block-left {
	padding-left: 25%;
}

#message {
	height: 80px;
}

#submit {
	text-align: center;
}


#submit:hover {
	background-color: #6CB670;
}


/* ------ ///////  FOOTER ///////  -----------------*/

footer {
	clear: both;
}

#footer-wrapper {
	width: 80%;
	height: 100%;
	margin: 0 auto;
	padding-top: 3%;
}

.footer-contents {
	width: 30%;
	height: 85%;
	display: inline-block;
	overflow: hidden;
}

#footer-one {
	margin-right: 5%;
	float: left;
}

#footer-two {
	float: left;
}

#footer-wrapper nav ul li a {
	color: #F4F7F6;
	font-family: 'Ubuntu', sans-serif;
	line-height: 180%;
	font-size: 100%;
}

#footer-three {
	float: right;
	margin-right: 0;
}

.footer-contents img {
	display: inline-block;
}

.brand-icon {
	display: inline-block;
	color: #F4F7F6;
	padding-right: 5%;
}

#footer-three, #footer-one, #footer-two{
	text-align: center;
}

.brand-icon, #footer-one img {
	padding-top: 10%;
}


.section-title h2 {
	text-align: center;
	display: block;
	font-size: 210%;
	/*color: #FFFFFF;*/
	font-weight: 700;
	/*font-family: 'Montserrat', sans-serif;*/
	font-family: 'Ubuntu', sans-serif;

}




