
/* ------------------------------- 
------------ SET UP --------------
-----------------------------------*/
* {
  box-sizing: border-box; 
}

/* ------------------------------- 
------------ BASE STYLE --------------
-----------------------------------*/

a {
  text-decoration: none;
}

#container {
	font-family: 'Roboto', sans-serif;
	font-family: 'Lora', serif;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Ubuntu', sans-serif;
	font-family: 'Poppins', sans-serif;
}

.backgroundcolor {
	background-color: #2B2C30;
}

.backgroundcolor-2 {
	background-color: #FFFFFF;
}

.backgroundcolor-3 {
	background-color: #4f575b
}


/* ------------------------------- 
------------ LAYOUT --------------
-----------------------------------*/

body {
	height: 100%;
	width: 100%;
	margin:0;
	padding: 0;
}

header {
	height: 80px;
}

#mainimage {
	height: 800px;
	width: 100%;
}

 #gallery, #features, #about, #contact, footer {
 	height: 100%;
 }




/* ------------------------------- 
------------ ADDITIONAL STYLES----
-----------------------------------*/

/* ---------  /////  HEADER ///// ---------------*/

header {
    position: fixed;
    top:0;
    width: 100%;
    z-index: 10;
    overflow: hidden;
}

#page-wrapper {
	margin: auto;
    max-width: 80%;
}

header nav {
	float: right;
	margin-top: 30px;
}

header nav li {
	display: inline-block;
	margin-left: 60px;
}

header img {
	margin:15px 0; 
}

#page-wrapper nav ul li a, #footer-two nav ul li a, #footer-wrapper nav ul li a {
	color: #F4F7F6;
	font-family: 'Ubuntu', sans-serif;
}

#page-wrapper nav ul li a:hover, #page-wrapper nav ul li a:active, #footer-two ul li a:hover, #footer-two ul li a:active, #footer-three a:hover, #footer-three a:active {
	color: #6CB670;
}


/* --------  /////   MAIN IMAGE /////------------------*/

#mainimage {
	overflow: hidden;
	margin-top: 80px;
	background-color: #3C3C3C;
	clear: both;

}

.slideshow , .slideshow img {
  height: 100%;
  width: 100%;
  position: relative;
}

.object-fit_cover { 
  object-fit: cover ;
}

.slidetext1 {
	position:absolute;
	top: 70%;
	left: 50%;
	transform: translateX(-50%);
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-size: 390%;
	font-weight: 700;
	color: #FFFFFF;	
}

.slidetext2 {
	font-family: 'Roboto', sans-serif;
	font-size: 350%;
	font-weight: 700;
	line-height: 130%;
	color: #FFFFFF;
	display: inline-block;
	position: absolute;
	top: 70%;
	left: 45%;
	letter-spacing: 140%;
}

.slidetext3 {
	position:absolute;
	top: 70%;
	left: 50%;
	transform: translateX(-50%);
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-size: 390%;
	font-weight: 700;
	color: #FFFFFF;	

}


.slidetext4 {
	font-family: 'Roboto', sans-serif;
	font-size: 340%;
	font-weight: 700;
	color: #FFFFFF;
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translateX(-50%);
}

/* --------  /////   MAIN IMAGE - ARROWs /////------------------*/

.arrow {
  width: 80px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 100;
}

#right-arrow {
  right: 20px;
}

#left-arrow {
  left: 20px;
}


/* ------ //////   ABOUT   //////// ----------------*/

/* --- SECTION TITLE ---*/

h2 {
	text-align: center;
	display: block;
	font-size: 210%;
	color: #FFFFFF;
	font-weight: 700;
	font-family: 'Ubuntu', sans-serif;
}

.section-title {
	width: 100%;
	height: 100px;
}

.row {
	margin: 0 auto;
}

.border {
	border-top: 1px solid #6CB670;
    height: 1px;
    margin: 15px auto 0;
    position: relative;
    width: 25%;
}

.border:before {
    background-color: #6CB670;
    border: 1px ridge #6CB670;
    content: "";
    height: 10px;
    left: 50%;
    margin-left: -20px;
    position: absolute;
    top: -5px;
    width: 40px;
}

.color-green {
	color: #6CB670;
}


/* --- SECTION TITLE // END //---*/

#about {
	padding-top: 40px;
}

#about-wrapper {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
	padding-bottom: 60px;
}

#about-wrapper h4 {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	line-height: 30px;
	font-size: 115%;
	color:  #848892;
	vertical-align: baseline;
}

.about-block {
	width: 50%;
	height: 100%;
	display: inline-block;
	float: left;
	padding-right: 10px;
}

#about-left::first-letter {
  font-weight: 600;
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-top: 10px;
  padding-right: 8px;
  padding-left: 3px;
}


/* ------ //////  FEATURES  /////// ----------------*/

#features {
	clear: both;
	position: relative;
	overflow: hidden;
	padding-top: 40px;
}

#features:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../images/bgImg_1.jpg');
    background-position: center;
	background-size: cover;
    width: 100%;
    height: 100%;
    opacity : 0.6;
    z-index: -1;
}

#feature-wrapper {
	width: 80%;
	margin: 0 auto;
	padding-bottom: 60px;
	overflow: hidden;
}

.featureContents {
	width: 30%;
	display: inline-block;
}

.feature-icon {
	height: 70px;
	margin-top: 20px;
	color:#5a5a5a;
}

.text-center {
	text-align: center;
}

.feature-block {
	width: 80%;
	height: 300px;
	margin: 0 auto;
}

#featureOne, #featureTwo{
	margin-right: 5%;
	float: left;
}

#featureThree {
	float: right;
	margin-right: 0;
}

.feature-block h3 {
	color:#5a5a5a;
	font-weight: 500;
	font-size: 160%;
	font-family: 'Ubuntu', sans-serif;
	margin: 20px auto 10px;
}

.feature-block h4 {
	color:#5a5a5a;
	font-weight: 300;
	font-size: 115%;
	font-family: 'Poppins', sans-serif;
	line-height: 140%;
	padding-top: 5px;
} 

#featureThree h4 {
	line-height: 180%;
}


/* ------ //////  GALLERY ////// ----------------*/
#gallery {
	padding-top: 40px;
	clear: both;
	background-color: #4f575b

}
#gallerygreen {
	color: #6CB670;
}


.gallery-wrapper {
	width: 80%;
	margin:0 auto;
	height: 100%;
	overflow: hidden;
	padding-bottom: 60px;
	
}

.gallery-block {
	width: 50%;
	height: 100%;
	display: inline-block;
	float: left;
}

#gallery-text {
	padding-left: 10px;
	height: 100%;
}

#gallery-text h3 {
	color: #F4F7F6;
	font-weight: 500;
	font-size: 160%;
	font-family: 'Ubuntu', sans-serif;
}

#gallery-text h4 {
	color: #F4F7F6;
	font-weight: 300;
	font-size: 110%;
	font-family: 'Poppins', sans-serif;
	line-height: 140%;
}

#gallery-text ul {
    list-style: circle outside;
    margin-left: 20px;
    padding-left: 0;
}

#gallery-text h3, #gallery-text h4 {
	margin-bottom: 10px;
}

.btn-wrapper {
	width: 75%;
}

.btn-wrapper img {
	width: 100%;
}

#btn-wrapper-vegas {
	float: right;
}

#gallery-one {
	width: 100%;
}

#gallery-two {
	width: 100%;
	padding-top: 60px;
}

#gallery-one {
	border-bottom: 1px solid #3c3c3c;
	 width: 80%;
}

#gallery-text a{
	border :1px solid transparent;
	border-radius: 5px;
	padding: 10px 15px;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	background-color: #fb9b1e;
	color:#F4F7F6;
	font-size: 110%;
	display: inline-block;
	margin-top: 5px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;  /*Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    margin: auto;
    padding: 5px;
    width: 50%;
    height: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    left:50%;
}

iframe {
	width: 100%;
	height: 100%;
}

/* The Close Button */
.close {
    color: #4e4f4f ;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}



/* ------ //////  CONTACT  //////  ----------------*/

#contact {
	font-family: 'Ubuntu', sans-serif;
	overflow: hidden;
	clear: both;
	padding-top: 40px;
}

#contact-wrapper {
	width: 70%;
	margin: 0 auto;
	overflow: hidden;
}

.contact-block {
	width: 50%;
	height: 100%;
	display: inline-block;
	float: left;
	padding: 0 0 60px 0px;
}

/* -- BLOCK LEFT */
#contact-details-wrapper {
	margin-top: 20px;
	line-height: 180%;
}

.contact-details h4 {
	display: inline-block;
	margin-bottom: 5px;
	margin-left: 10px;
}

#block-left h3 {
	font-size:140%;
	font-weight: 500;
	color :#323232
}

#block-left h3+h4 {
	margin-top: 10px;
}


/* -- BLOCK RIGHT */
.field {
  	width:80%;
	display: block;
  	font-size:16px;
  	margin-bottom:1em;
  	padding:8px 0 8px 8px;
  	cursor: pointer;
  	font-family: 'Ubuntu', sans-serif;
  	border: .8px solid #cccccc;
  	background-color: transparent;
}


input[type="submit"] {
	width:50%;
	height: 150%;
  	font-size:50px;
  	background:transparent;
}

#block-left {
	padding-left: 20%;
}

#message {
	height: 80px;
}

button:hover {
	background-color: #6CB670;
}

.field:hover {
	border-color: #6CB670;
}

label {
    display: inline-block;
    padding-left: 25px;
    margin-right: 15px;
  }

.field:focus {
    outline: none;
    border:1px solid #6CB670;
}

#block-right button {
	color: #6a6a6a ;
}


/* ------ ///////  FOOTER ///////  -----------------*/

footer {
	clear: both;
}

#footer-wrapper {
	width: 80%;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom:40px;
}

.footer-contents {
	width: 100%;
	overflow: hidden;
	text-align: center;
	padding-bottom: 10px;
}

.footer-contents, #footer-wrapper nav ul li , #footer-contents img, .brand-icon {
	display: inline-block;
}

#footer-wrapper nav ul li a {
	color: #F4F7F6;
	font-family: 'Ubuntu', sans-serif;
	line-height: 180%;
	font-size: 100%;
	margin-right: 40px;
}

.brand-icon {
	margin-right: 20px;
}

#footer-four {
	color: #848892;
	font-size: 80%;
	font-family: 'Ubuntu', sans-serif;
	padding-top: 20px;
	padding-bottom: 0;

}

footer .fa {
	color: #F4F7F6;
}

footer .fa:hover {
	color: #6CB670;
}



header nav ul li:first-child {
  background:transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
}

header nav ul li:first-child:hover{
  cursor: pointer;
}


.line {
  width: 1.6em;
  margin-top: .25em;
  height: 3px;
  background-color: white;
}


/*////// MOBILE /////*/

@media screen and (max-width:914px){ 


header nav ul li {
    display: block;
}

header nav ul li:first-child {
  display: block;
  margin-top: 10px;
  margin-right: 10px;
}

header nav {
  float: none;
}

header nav {
  text-align: center;
  height: 0;
  padding: 0;  
}



header nav .show {
    height: 145px;
  }

 #mainimage {
 	height: 500px;
 }

 #mainimage .arrow {
 	top:30%;
 	transform: translateY(-30%);
 	cursor: pointer;
  	z-index: 100;

}

 #mainimage .slidetext1 {
 	font-size:2.5em;
 	top:70%;
 	left:50%;
 }



 #mainimage .slidetext2 {
 	font-size:2em;
 	top:70%;
 	left:40%;
 }

  #mainimage .slidetext3 {
 	font-size:2.5em;
 	top:70%;
 	left:50%;
 }

   #mainimage .slidetext4 {
 	font-size:2em;
 	top:80%;
 	left:50%;
 }

 .arrow {
 	width: 50px;
 }

 .about-block {
 	float: none;	
 	width: 100%;

 }

 #about h4 {
 	font-size: 1.2em;
 }

.feature-block h3 {
	font-size:1.5em;
}

.feature-block h4 {
	font-size:1.2em;
}

.featureContents {
	display: block;
	width: 100%;
	height: 100%;
}

#featureOne, #featureTwo, #featureThree {
	float: none;
}

.feature-icon {
	padding-top: 10px;
}

.gallery-block {
	float: none;
	display: block;
	width: 100%;
	height: 100%;
}

.btn-wrapper {
	margin:0 auto;
}

#gallery-text {
	padding-left: 75px;
	padding-top: 20px;
}

#gallery-two {
	padding-top: 20px;
}

#gallery-two #gallery-image {
	margin-top: 20px;
}

#btn-wrapper-vegas {
	float: none;
}

.contact-block {
	float: none;
	display: block;
	width: 100%;
}

#block-left {
	padding-left: 0;
	text-align: center;
}

.field {
	width: 100%;
}

#footer-two nav ul li {
	display: block;
}

}













