/* /////  QUESTIONS  ////// */
/*
--  MainImage ; fade in / out 
--  Twitter/ facebook ; would like to make color white before clicking..
--- how to make dropdown menu on nav
*/



/* ------------------------------- 
------------ SET UP --------------
-----------------------------------*/
* {
  box-sizing: border-box; 
}

/* ------------------------------- 
------------ BASE STYLE --------------
-----------------------------------*/

a {
  text-decoration: none;
}

#container {
	font-family: 'Roboto', sans-serif;
	font-family: 'Lora', serif;
/*	font-family: 'Source Sans Pro', sans-serif;*/
	font-family: 'Montserrat', sans-serif;
	font-family: 'Ubuntu', sans-serif;
	font-family: 'Poppins', sans-serif;
}

.backgroundcolor {
	background-color: #2B2C30;
}

.backgroundcolor-2 {
	background-color: #FFFFFF;
}

.backgroundcolor-3 {
	background-color: #E0E0E0;
}



.backgroundcolor-4 {
	background-color: #3C3C3C;
}

/* ------------------------------- 
------------ LAYOUT --------------
-----------------------------------*/

body {
	height: 100%;
	width: 100%;
}

/*#container {
	width: 90%;
	margin: 0 auto;
}*/

header {
	height: 80px;
}

#mainimage {
	height: 800px;
/*	width: 100%;*/
}

 #gallery, #features, #about, #contact, footer {
 	height: 100%;
 }




/* ------------------------------- 
------------ ADDITIONAL STYLES----
-----------------------------------*/

/* ---------  /////  HEADER ///// ---------------*/

header {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
}

#page-wrapper {
	margin: auto;
    max-width: 80%;
    position: relative;
    height: 50%;
    top: 50%;
    transform: translateY(-50%);
}

header img {
	display: inline-block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: -80%;
}

#page-wrapper nav  {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
}

#page-wrapper nav ul li {
	display: inline-block;
	margin-left: 20px;
}

#page-wrapper nav ul li a, #footer-two nav ul li a, #footer-wrapper nav ul li a {
	color: #F4F7F6;
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Ubuntu', sans-serif;
}

#page-wrapper nav ul li a:hover, #page-wrapper nav ul li a:active, #footer-two ul li a:hover, #footer-two ul li a:active, #footer-three a:hover, #footer-three a:active {
	color: #6CB670;
}


/* --------  /////   MAIN IMAGE /////------------------*/

#slide1 {
  	background-image: url('../images/slide_1.jpg');
	animation:fade 10s infinite;
}
/*.slidetext1{
	animation:fade 10s infinite;
}*/

#slide2 {
	background-image: url('../images/slide_2.png');
	animation:fade2 10s infinite;
}

#slide3 {
	background-image: url('../images/slide_3.png');
    animation:fade3 10s infinite;
}

@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0}
  100% { opacity: 0}

}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
  
}

#mainimage {
	position: relative;
	white-space: nowrap;
	overflow: hidden;
}

.slide-image {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	display: inline-block;
	text-align: center;
	overflow: hidden;
	position: absolute;
}

.slidetext1 {
	font-family: 'Roboto', sans-serif;
	font-size: 450%;
	font-weight: 700;
	color: #FFFFFF;
	position: relative;
	top: 70%;
}

.slidetext2 {
	font-family: 'Roboto', sans-serif;
	font-size: 360%;
	font-weight: 700;
	line-height: 120%;
	color: #FFFFFF;
	position: relative;
	top: 65%;
	left: 15%;
}

.slidetext3 {
	font-family: 'Roboto', sans-serif;
	font-size: 300%;
	font-weight: 700;
	color: #FFFFFF;
	position: relative;
	top: 72%;
}


/* --------  /////   MAIN IMAGE - ARROWs /////------------------*/
.arrow {
  width: 5%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

#right-arrow {
  right: 20px;
}

#left-arrow {
  left: 20px;
}

/* --------  /////   MAIN IMAGE - ARROWs ; Responsive /////------------------*/
@media (max-width: 768px) {
  .arrow {
    width: 10%;
  }
}



/* i dont know why i need this ---> */
/*@media (max-device-width: 1024px) {
  .arrow {
    width: 20%;
  }
}*/


/* ------ //////   ABOUT   //////// ----------------*/

/* --- SECTION TITLE ---*/
h2 {
	text-align: center;
	display: block;
	font-size: 210%;
	color: #FFFFFF;
	font-weight: 700;
	font-family: 'Ubuntu', sans-serif;
}

.section-title {
	width: 100%;
	height: 100px;
}

.row {
	/*width: 1024px;*/
	margin: 0 auto;
}

.border {
	border-top: 1px solid #6CB670;
    height: 1px;
    margin: 15px auto 0;
    position: relative;
    width: 25%;
}

.border:before {
    background-color: #6CB670;
    border: 1px ridge #6CB670;
    content: "";
    height: 10px;
    left: 50%;
    margin-left: -20px;
    position: absolute;
    top: -5px;
    width: 40px;
}

.color-green {
	color: #6CB670;
}


/* --- SECTION TITLE // END //---*/

#about {
	padding-top: 40px;
}

#about-wrapper {
	width: 80%;
	/*height: 100%;*/
	margin: 0 auto;
	overflow: hidden;
	padding-bottom: 60px;
}

#about-wrapper h4 {
	/*height: 100%;*/
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	line-height: 30px;
	font-size: 115%;
	color:  #848892;
	vertical-align: baseline;
}

.about-block {
	width: 50%;
	height: 100%;
	display: inline-block;
	float: left;
	padding-right: 10px;
}

#about-left::first-letter {
  font-weight: 600;
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-top: 10px;
  padding-right: 8px;
  padding-left: 3px;
}


/* ------ //////  FEATURES  /////// ----------------*/

#features {
	clear: both;
	position: relative;
	/*background-image: url('../images/bgImg_1.jpg');
	background-position: center;
	background-size: cover;*/
	overflow: hidden;
	padding-top: 40px;
}

#features:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../images/bgImg_1.jpg');
    background-position: center;
	background-size: cover;
    width: 100%;
    height: 100%;
    opacity : 0.7;
    z-index: -1;
}
/*.feature-content {
	position: relative;
	z-index: 2;
}
*/
#feature-wrapper {
	width: 80%;
	margin: 0 auto;
	padding-bottom: 60px;
	overflow: hidden;
	/*font-size: 0;*/
}

.featureContents {
	width: 30%;
	/*height: 100%;*/
	/*border:1px solid white;*/
	display: inline-block;
}

.feature-icon {
	height: 70px;
	margin-top: 20px;
	/*color: #323232*/
	color:#5a5a5a;
}

.text-center {
	text-align: center;
}

.feature-block {
	width: 80%;
	height: 300px;
	margin: 0 auto;
}

#featureOne, #featureTwo{
	margin-right: 5%;
	float: left;
}

#featureThree {
	float: right;
	margin-right: 0;
}

.feature-block h3 {
	/*color: #323232*/
	color:#5a5a5a;
	font-weight: 500;
	font-size: 160%;
	font-family: 'Ubuntu', sans-serif;
	margin: 20px auto 10px;
}

.feature-block h4 {
	/*color: #323232*/
	color:#5a5a5a;
	font-weight: 300;
	font-size: 115%;
	font-family: 'Poppins', sans-serif;
	line-height: 140%;
	padding-top: 5px;
} 

#featureThree h4 {
	line-height: 180%;
}


/* ------ //////  GALLERY ////// ----------------*/
#gallery {
	padding-top: 40px;
	clear: both;
	/*background-color: #4d4d5e;*/

}
#gallerygreen {
	color: #6CB670;
}


#gallery-wrapper {
	width: 80%;
	margin:0 auto;
/*	height: 100%;*/
	overflow: hidden;
	padding-bottom: 60px;
	
}

.gallery-block {
	width: 50%;
	height: 100%;
	display: inline-block;
	float: left;
}

#gallery-text {
	padding-left: 10px;
}

#gallery-text h3 {
	color:#5a5a5a;
	font-weight: 500;
	font-size: 160%;
	font-family: 'Ubuntu', sans-serif;
}

#gallery-text h4 {
	color:#5a5a5a;
	font-weight: 300;
	font-size: 115%;
	font-family: 'Poppins', sans-serif;
	line-height: 140%;
}

#gallery-text ul {
    list-style: circle outside;
    margin-left: 20px;
    padding-left: 0;
}

#gallery-text h3, h4 {
	margin-bottom: 10px;
}
/*#gallery-image {
	background-color: lightblue;
}

#gallery-text {
	background-color: lightpink;
}*/

/*<!-- ///////
		//////////////MODAL -->*/


#btn-wrapper img {
	width: 80%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /*padding-top: 100px;*/ /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;  /*Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: black;
    margin: auto;
    padding: 5px;
  /*  border: 5px solid #888;*/
    width: 50%;
    height: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    left:50%;
    /*transform: translateX(-50%);*/

}

iframe {
	width: 100%;
	height: 100%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}





/* ------ //////  CONTACT  //////  ----------------*/

#contact {
	/*background-color: #E0E0E0;*/
	font-family: 'Ubuntu', sans-serif;
	overflow: hidden;
	clear: both;
	padding-top: 40px;
}

#contact-wrapper {
	width: 70%;
	/*height: 100%;*/
	margin: 0 auto;
	overflow: hidden;
}

.contact-block {
	width: 50%;
	height: 100%;
	display: inline-block;
	float: left;
	padding: 0 0 60px 0px;
}

/* -- BLOCK LEFT */
#contact-details-wrapper {
	margin-top: 20px;
	line-height: 180%;
}

.contact-details h4 {
	display: inline-block;
	margin-bottom: 5px;
	margin-left: 10px;
}

#block-left h3 {
	font-size:140%;
	font-weight: 500;
	color :#323232
}

#block-left h3+h4 {
	margin-top: 10px;
}


/* -- BLOCK RIGHT */
.field {
  	width:80%;
	display: block;
  	font-size:16px;
  	margin-bottom:1em;
  	padding:8px 0 8px 8px;
  	cursor: pointer;
  	font-family: 'Ubuntu', sans-serif;
  	border: .8px solid #cccccc;
  	background-color: transparent;
}


input[type="submit"] {
	width:50%;
	height: 150%;
  	font-size:50px;
  	background:transparent;

}

#block-left {
	padding-left: 20%;
}

#message {
	height: 80px;
}

button:hover {
	background-color: #6CB670;
}

.field:hover {
	border-color: #6CB670;
}

label {
    display: inline-block;
    padding-left: 25px;
    margin-right: 15px;
  }

  .field:focus {
    outline: none;
    border:1px solid #6CB670;
}



/* ------ ///////  FOOTER ///////  -----------------*/

footer {
	clear: both;
}

#footer-wrapper {
	width: 80%;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom:40px;
}

.footer-contents {
	width: 100%;
	overflow: hidden;
	text-align: center;
	padding-bottom: 10px;
}

.footer-contents, #footer-wrapper nav ul li , #footer-contents img, .brand-icon {
	display: inline-block;
}
#footer-wrapper nav ul li a {
	color: #F4F7F6;
	font-family: 'Ubuntu', sans-serif;
	line-height: 180%;
	font-size: 100%;
	margin-right: 40px;
}

.brand-icon {
	color: #F4F7F6;
	margin-right: 20px;
}

#footer-four {
	color: #848892;
	font-size: 80%;
	font-family: 'Ubuntu', sans-serif;
	padding-top: 20px;
	padding-bottom: 0;

}





